.friends-displaylink {
    display: block;
    text-align: center;
    background-color: rgb(255, 51, 51);
    padding: 15px 0;
    font-size: 16px;
    margin-bottom: 10px;
}

.friends-displaylink i {
    color: rgba(0, 0, 0, 0.3);
}

.main-screen {
    padding: 0 var(--horizontal-space);
    overflow: auto;
    height: 900px;
}

.friends-screen__channel {
    margin: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 10px 0 20px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6)
}

.box {
    position: relative;
}

#splash-screen {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 0.5s;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}